* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

/* styling for top header - nav */
.nav {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  justify-content: center;
}
.nav-bar {
  width: 75%;
  margin-left: 210px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
}
.nav-links a {
  text-decoration: none;
  color: lightgray;
}
.nav-links .active {
  color: white;
}
.sign-out {
  width: 25%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.btn {
  background-color: #4f86f7;
  height: 30px;
  width: 100px;
  color: white;
  border: none;
  font-size: 16px;
  margin: 10px;
}

/* styling for content div */
.content {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

/* styling for profile div */
.profile {
  margin: 10px;
  display: inline;
  flex: 2;
}
.user-card, .education-card {
  border: 3px solid gray;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.2 rem;
  overflow: hidden;
}
.user-header {
  background-color: #4f86f7;
  height: 120px;
  margin-bottom: 70px;
}
.user-body, .edu-body {
  padding: 20px;
}
.user-body h1,
.user-body h2,
.user-body h3,
.user-body p,
.edu-body h2,
.edu-body p {
  margin: 10px;
}
.edu-header {
  background-color: gray;
  color: white;
  padding: 10px;
}
.dates {
  color: gray;
}

/* styling for images */
.profile-pic {
  border-radius: 50%;
  height: 190px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
}
.small-icon {
  height: 20px;
  margin-right: 2px;
}
.id-pic {
  border-radius: 50%;
  height: 40px;
  margin-right: 20px;
}
.req-btn {
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}
#circle {
  width: 30px;
  height: 30px;
  background: lightgray;
  border-radius: 50%;
  color: rgb(63, 56, 56);
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin-right: 10px;
}
#oval {
  width: 50px;
  height: 30px;
  background: lightgray;
  border-radius: 50%;
  color: rgb(63, 56, 56);
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin-right: 10px;
}

/* styling for right-panel div */
.right-panel {
  margin: 10px;
  display: inline;
  flex: 1;
}
.requests, .connections {
  border: 3px solid gray;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.2 rem;
  overflow: hidden;
  height: max-content;
}
.requests-header, .connections-header {
  background-color: gray;
  color: white;
  padding: 10px;
  display: flex;
}
.requests-header h3,
.connections-header h3,
.name {
  margin: auto;
  width: 80%;
}
.right-panel li {
  list-style-type: none;
  margin: 10px;
  display: flex;
}
.more {
  padding: 10px;
  border-top: 3px solid gray;
}
a {
  color: blue;
}